$selection-text-color: #54656F;
$selection-background-color: #2A353B;
$blue-border: #3766E6;
$icon-background: #26C2FD;
$opaque-border: #E8EDF3;
$darker-opaque: rgb(201, 208, 216);
$edit-background: #E7EDF2;
$green-button: #49C02C; 
$red-button: #DA4944;
$form-orange: #F45E24;
