.selection-choice {
  height: 70px;
  width: 70px;
  border-radius: 70px;
  background-color: #26C2FD;
  margin: 10px;
  cursor: pointer; }
  .selection-choice .icon {
    position: relative;
    text-align: center; }
    .selection-choice .icon .white-icon {
      color: #ffffff;
      font-size: 32px; }
  .selection-choice i {
    position: relative;
    margin-top: 25%;
    margin-bottom: 25%; }
  .selection-choice h3 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #54656F; }
