.selection-choice {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #26C2FD;
  margin: 10px; }
  .selection-choice .icon {
    position: relative;
    text-align: center; }
  .selection-choice i {
    position: relative;
    margin-top: 25%;
    margin-bottom: 25%; }
  .selection-choice h3 {
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    color: #54656F; }

.white-icon {
  color: #FFFFFF; }
