.selection-of-choices {
  background-color: #2A353B; }
  .selection-of-choices img {
    display: block;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 40px; }
  .selection-of-choices ul {
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px; }

.back-to-forms {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #54656F; }
  .back-to-forms span {
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600; }

.small-arrow {
  font-size: 14px; }
